
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Times New Roman", Times, serif;
    line-height: 1.6;
    background-color: #f5f5f5; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
}

.header-left h1 {
    margin-left: 20px;
}

.header-right nav ul {
    list-style: none;
    display: flex;
}

.header-right nav ul li {
    margin: 0 15px;
}

.header-right nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.header-right nav ul li a:hover {
    background-color: #f09;
    transform: scale(1.1);
}


#home {
    display: flex;
    align-items: center;
    padding: 60px 20px;
    background-color: #f4f4f4;
}

.home-content {
    display: flex;
    align-items: center;
    margin-left: 10%;
}




.social-links {
    margin-top: 20px;
}

.social-icon {
    font-size: 2em;
    color: #333;
    margin-right: 15px;
    text-decoration: none;
}

.social-icon:hover {
    color: #0077b5; /* LinkedIn color */
}

.social-icon:nth-of-type(2):hover {
    color: #333; /* GitHub color */
}

.text-content {
    max-width: 600px;
}

.text-content h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.text-content h3 {
    font-size: 1.8em;
    color: #555;
    margin-bottom: 20px;
}

.text-content p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.text-content .btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
}


.text-content .btn:hover {
    background-color: #f09;
    transform: scale(1.05);
}

.picture-content {
    margin-left: px;
}

.profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
	margin-left:10px;
    object-fit: cover;
}


#about {
    padding: 60px 20px;
    background-color: #e0e0e0; 
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.about-content {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    margin: 10px;
}


.about-left {
    width: 60%;
    margin-left: 10px; 
    padding: 20px; 
    background-color: #f9f9f9; 
    border-radius: 8px; 
}

.about-left h2 {
    text-align: center; 
    font-size: 2.5em;
	margin-left:20px;
    margin-bottom: 20px; 
}

.about-left p {
    font-size: 1.5em; 
}

.about-right {
    width: 30%;
    margin-right: 10px; 
    text-align: right;
    padding: 20px; 
    background-color: #f9f9f9; 
    border-radius: 8px; 
}

.about-right h3 {
    font-size: 1.8em;
    margin-top: 50px;
    margin-right: 10px; 
}

.about-right .btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2em; 
    transition: background-color 0.3s, transform 0.3s;
    margin-right: 10px; 
    margin-top: 10px; 
}

.about-right .btn:hover {
    background-color: #f09;
    transform: scale(1.05);
}


#skills {
    padding: 60px 20px;
    background-color: #f9f9f9;
}

.skills-content {
    text-align: center;
}

.skills-content h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.skills-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 10%;
}

.languages-known, .technologies-known {
    width: 25%;
}

.languages-known h3, .technologies-known h3 {
    font-size: 1.8em;
    margin-bottom: 15px;
}

.skill-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.skill-item img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}



#projects {
    padding: 60px 20px;
    background-color: #fff;
}

.projects-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
.project-container {
    background-color: #f4f4f4; 
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: 45%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease-in-out;
}

.project-container:hover {
    transform: translateY(-10px); 
}


#projects h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 40px;
}



.project-container h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.project-container ul {
    font-size: 1.4em;
    line-height: 1.6;
}
/* Contact section styles */
#contact {
    padding: 60px 20px;
    background-color: #fff;
    margin-left: 30px;
}

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 600px;
    margin: 0 auto;
}
.contact-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact-info img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.contact-info p {
    font-size: 1.2em;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact-form input, .contact-form textarea {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1.3em;
}

.contact-form textarea {
    resize: vertical;
    height: 150px;
}

.contact-form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s, transform 0.3s;
}


.contact-form button:hover {
    background-color: #f09;
    transform: scale(1.05);
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
